:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(253, 63, 38, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #343434;

  --primary: rgb(3, 122, 39);
  --secondary: rgb(247, 230, 79);

  --container: #141414;
  --container1: #141414;

  --button1: #2a2a2a;

  --text: #1a1a1a;
}

body {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button1);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




/* drag n drop */

.container-card {
  background-color: var(--container);
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 8px;
  border-radius: 8px
}

.buttons-container {
  background-color: var(--container);
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 8px;
  border-radius: 8px;
}

.dnd-container {
  display: flex;
  align-items: start;
  /* gap: 1em; */
}
.item {
  background-color: var(--secondary);
  color: var(--text);
  justify-content: center;
  border-radius: 5px;
  cursor: grab; 

  font-size: 1.2em;
  font-weight: 700;
  font-style: italic;
  padding: .2em .8em .4em;
}
.item:active {
  cursor: grabbing;
}

.n-container, .n-s-item {
  list-style: none;
  background-color: var(--container);
  min-width: 4em;
  min-height: 4em;
  padding: 1em;
  display: flex;
  align-items: start;
  align-content: start;
  gap: 4px;
  border-radius: 4px;
  flex-wrap: wrap;
}

.n-container {
  /* border-color: #28a745; */
  max-width: 500px;
  margin: 0px;
}
.n-container-socket{
  min-width: 320px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* align-content: flex-start; */
}

.n-s-item {
  border: 2px dashed transparent; /* Default border */
  transition: border-color 0.3s ease; /* Smooth border color change */
  background-color: var(--container1);
  position: relative;
  flex-direction: column;
  text-wrap: wrap;
  margin: 0px 8px 8px 0px;
  /* gap: 4px; */
}
.n-s-item > h2 {
  padding: 0px;
  margin: 0px;
}

.n-s-item[data-max-items]:after {
  content: attr(data-max-items) " max";
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
  color: #888;
}


.socket-full {
  /* background-color: #ffd1d1; */
  /* border-color: #ff0000; */
}



/* feedback */
.n-s-item.border-green {
  border-color: #28a745; /* Green border when the item can be dropped */
}

.n-s-item.border-red {
  border-color: #dc3545; /* Red border when drop is not allowed */
}

.n-s-item.border-none {
  border-color: transparent; /* No border when no drag is happening */
}